.car h1{
	color:rgba(0, 5, 12, 0.959);
	font-family: 'Times New Roman', Times, serif;
	
	text-align:center;	
}
.car1 button:hover{
	background-color:rgb(39, 206, 39);
	color:rgb(190, 178, 178);
}
.car1 {
	background-color: rgba(0, 0, 0,0.75);
    border:1px solid green;
	margin-left: 38%;
	margin-right: 45%;
	border-radius: 10%;

	
	width:330px;
	border: 3px solid rgb(139, 139, 179);
	padding: 20px;
	
}body{
	background: url("https://wallpaper-house.com/data/out/8/wallpaper2you_214428.jpg");
	background-size: cover;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	
	}

label{
	color: rgb(196, 154, 154);
}
.price{
	color: rgb(196, 154, 154);

}
.seniorcitizen{
	color: rgb(196, 154, 154);

}
