body{
	background: url("https://i.pinimg.com/originals/50/69/61/5069613b363dc9f5c0bc4c9824ab26b7.jpg");
	background-size: cover;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border:1px solid rgb(1, 14, 1);
	}
