@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
  }
  .login h1{
	color:black;
	background:yellow;
	text-align:center;	
}
.login button{
	color:lightgreen;
	background:black;
	margin:0 auto;
}
.login button:hover{
	background-color:lightgreen;
	color:black;
}
	
.login form{
	margin: auto;
	
	width:300px;
	border: 30px solid blue;
	padding: 100px;
	margin: 10%;
}
.login input[type="text"]::placeholder{
	text-align:center;
}
.login input[type="password"]::placeholder{
	text-align: center;
}

