@charset "ISO-8859-1";
.table h1{
	text-align:center;
	color:red;
	align-items:center;
	font-size:30px;
}

.login h1{
	color:black;
	background:yellow;	
}


button{
	color:blue;
	background-color:#32a852;
}

